---
layout: default
---

<div id="develop-hero" class="p-5" style="height: auto;">
  <div class="container" style="background-color: #333; padding: 40px; text-align: center;">
    <h1 style="color: #EEE; font-size: 22px; font-weight: bold;">Get Involved</h1>
    <p style="color: #CCC; padding: 10px; max-width: 500px; margin: 0px auto;">
      Help making KDE Connect more beautiful, easier to use, faster, and available to more platforms.
    </p>
  </div>
</div>

<main class="container pt-4">
  <div class="row">
    <div class="col col-md-11 col-lg-10 mx-auto letter">
      {{ content }}
    </div>
  </div>
</main>
